*.class

# Package Files #
*.jar
*.war
*.ear

.DS_Store
.idea
junit/sauce_junit.iml

testng/sauce_testng.iml

junit/atlassian-ide-plugin.xml

target

sauce_java.iml

sauce_java.iml

common/sauce_java_common.iml

quickstart-archetype/quickstart-seleniumrc-junit/quickstart-seleniumrc-junit.iml

quickstart-archetype/quickstart-seleniumrc-testng/quickstart-seleniumrc-testng.iml

quickstart-archetype/quickstart-archetype.iml
