language: java
sudo: false
before_script:
- pip install --user codecov
install: true
script:
- mvn test -B -V
jdk:
- oraclejdk8
- openjdk7
after_success:
- codecov
notifications:
  slack: saucelabs:UuMma1Or531Mia6gJpFzwn5Z
env:
  global:
  - secure: EpFMQ4XMonm5cj++urew+lEuT8CLvqB6UOjqgfACYTIKd4V92eEmNai3PERRBOQUAjhXPZKbAaBXJ1OE7PW0Z8fGYk+HGs/NMQsXg3hLjgYsHeG7vJLMOEb72Z0SVB1lC4uGZzWhOP26QsoGPgYfrconJyIXrPoPVGUyM4qR0qk=
  - secure: ZQ21xR5BFCrEHtkC2IcJd/Q/LjG4DpKY4gOieJ+VHt2+P4evTgaTz8iHCn+ujF+2B+bzgtEVT2B/Ul4KQKSdfzI+dg8QBZ0J8DWzmDXjgiH1mhQ+cGUwVeB0g46hqD/tUFWQwQt7iZ2rlXYRQLJAsUcKMLApOotWkk3Unf4b5tY=
