<suite name="ParallelTests" verbose="5" parallel="tests" thread-count="10">
    <parameter name="username" value="rossco_9_9"/>
    <parameter name="key" value="YOUR_SAUCE_KEY"/>
    <!--<parameter name="os" value="Windows 2003"/>-->
    <!--<parameter name="browser" value="firefox"/>-->
    <!--<parameter name="browserVersion" value="3.6."/>-->
    <test name="WebDriver">
        <parameter name="os" value="Windows 2003"/>
        <parameter name="browser" value="firefox"/>
        <parameter name="browserVersion" value="3.6."/>
        <classes>
            <class name="com.saucelabs.testng.WebDriverTest"/>
        </classes>
    </test>
    <test name="SeleniumRC">
        <parameter name="os" value="Windows 2003"/>
        <parameter name="browser" value="iexplore"/>
        <parameter name="browserVersion" value="8.0"/>
        <classes>
            <class name="com.saucelabs.testng.SeleniumRCWithHelperTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.saucelabs.testng.SauceOnDemandTestListener"/>
    </listeners>
</suite>
