<suite name="SauceTestSuite" verbose="5" parallel="tests" thread-count="10">
    <test name="WebDriverTests">
        <classes>
            <class name="com.saucelabs.WebDriverTest"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="com.saucelabs.testng.SauceOnDemandTestListener"/>
    </listeners>
</suite>
